---
---
<div class="bg-[#18181b94] border items-center place-content-center border-zinc-900 rounded-lg h-auto min-h-[250px] w-full md:w-[70%] grid grid-cols-1 md:grid-cols-[30%_auto] p-4 md:p-10 gap-4">
    <div class="w-32 xl:w-50  md:w-40 mx-auto md:mx-auto rounded-2xl overflow-hidden ">
        <img
            class="w-auto h-auto object-cover"
            src="https://japi.rest/discord/v1/user/1286544389073534976/avatar?size=4096"
            alt=""
        />
    </div>
    <div class="text-center md:text-left">
        <h1 class="text-zinc-200 text-2xl">RawenCat</h1>
        <p class="text-zinc-300 xl:text-lg md:text-sm">
            Hello everyone! <span>I'm Revenz</span>, a <span>17 year old</span> 
            self-taught programmer from <span>Mexico</span> who 
            <span>loves coding and specializes in web development.</span> 
            I have experience using various programming languages and tools to create 
            <span>professional looking and user friendly websites</span>. 
            My ultimate goal is to become a <span>successful programmer in the future.</span>
        </p>
    </div>
</div>

<style>
    span {
        color: rgb(119, 119, 119);
    }
</style>