---
import { date } from "astro/zod";
import SkillCard from "../components/Reusables/SkillCard.astro";
import {DevTools, Frameworks, Frontend} from "../constants/get/Skills";
import Layout from "../layouts/Layout.astro";
---

<Layout title="RevenzMind ! Website">
    <div class="landing">
        <div class="landing_container">
            <div class="landing_subText">
                <h1>Hi, I'm</h1>
                <h2>RevenzMind</h2>
            </div>
            <div class="landing_about">
                <div class="landing_about_avatar">
                    <img
                            src=`https://japi.rest/discord/v1/user/1149804799877972059/avatar?${Date.now()}`
                            alt="avatar"
                            onerror=`this.src="https://avatars.githubusercontent.com/u/155520951?v=4"`
                            />
                </div>
                <div class="landing_about_text">
                    <p>
                        Hello everyone! <span>I'm Revenz</span>, a <span>16ñ year old</span> self-taught
                        programmer from <span>Mexico</span> who <span
                    >loves coding and specializes in web development.</span
                    > I have experience using various programming languages and tools to
                        create <span>professional looking and user friendly websites</span>.
                        My ultimate goal is to become a <span
                    >successful programmer in the future.</span
                    >
                    </p>
                </div>
            </div>
            <div class="scroll">
                <svg
                        width="24px"
                        height="24px"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        color="#d4d4d4"
                >
                    <path
                            d="M19 13.5L15.5 17L12 13.5"
                            stroke="#d4d4d4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    <path
                            d="M15.5 17V11C15.5 8.79086 13.7091 7 11.5 7H4.5"
                            stroke="#d4d4d4"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                </svg
                >
            </div>
        </div>
    </div>
    <hr/>
    <section>
        <div class="section_header">
            <h1>SKILLS</h1>
        </div>
        <div class="section_content">
            <SkillCard title="Frameworks" data={Frameworks}/>
            <SkillCard title="Frontend" data={Frontend}/>
            <SkillCard title="Dev Tools" data={DevTools}/>
        </div>
    </section>
</Layout>

<style is:global>
    #home {
        border: 1px solid var(--border-color);
        background-color: var(--background-component-selected);
    }

    [data-tooltip]:hover:before {
        transform: translate(0%, 130%);
    }
</style>

<style>
    .landing {
        height: 85vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .landing_container {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .landing_subText {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .landing_subText h1 {
        font-size: 1rem;
        color: white;
    }

    .landing_subText h2 {
        font-size: 1.1rem;
        color: var(--accent-color);
    }

    .landing_about {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        height: 50vh;

        width: 90%;
    }

    .landing_about_avatar {
        border-radius: 10px;
        height: 150px;
        width: 150px;

        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .landing_about_avatar img {
        height: 100%;
        object-fit: cover;
    }

    .landing_about_text {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .landing_about_text p {
        font-size: 0.95rem;
        color: white;
    }

    .landing_about_text p span {
        color: var(--accent-color);
    }

    @media screen and (max-width: 768px) {
        .landing_container {
            height: 75vh;
        }

        .landing_about {
            flex-direction: column;
            gap: 10px;
        }

        .landing_about_text {
            width: 100%;
            text-align: center;
        }

        .landing_about_text p {
            font-size: 0.9rem;
        }
    }
</style>

<!--Section Skill-->
<style>
    .section_header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        gap: 10px;
    }

    .section_header h1 {
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--accent-color);
    }

    .section_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 0;

        gap: 20px;
    }
</style>
