---
import Layout from "../layouts/Layout.astro";
import WelcomeModal from "../components/WelcomeModal.astro";
import Profile from "../components/landing/Profile.astro";
import SpotifyPlayer from "../components/landing/SpotifyPlayer.astro";
import SkillsDisplay from "../components/landing//SkillsDisplay.astro";
import ProjectsDisplay from "../components/landing/ProjectsDisplay.astro";
import { fetchDiscordActivity } from "../utils/SpotifyWrapper";
import { Skills } from "../constants/get/skills";
const rpcData = await fetchDiscordActivity();
---

<Layout title="RawenCat - Star">
    <WelcomeModal/>
    <div class="h-full w-full flex flex-col place-content-center p-4 md:p-10 items-center gap-3">
        <Profile />
        <div class="w-full md:w-[70%] h-auto grid grid-cols-1 md:grid-cols-[35%_auto] gap-2">
            <SpotifyPlayer />
            <SkillsDisplay />
        </div>
        <ProjectsDisplay />
    </div>

    <video
        id="VideoWelcome"
        class="object-cover w-screen h-screen brightness-[0.06] fixed -z-10"
        loop 
        src="assets/len.mp4">
    </video>
</Layout>

<script>
    const VideoWelcome = document.getElementById("VideoWelcome");
    VideoWelcome?.addEventListener("contextmenu", function (event) {
        event.preventDefault();
    });
</script>

